<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smart Pharmacy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

   <header class="header">

   <div class="logo">
    <img src="{{ url_for('static', filename='logoo.png') }}"
         alt="Smart Pharmacy">
</div>

    <nav class="navbar"> 

    <a href="{{ url_for('home') }}" class="active"> 
        🏠 Home 
    </a> 

    <a href="{{ url_for('dashboard') }}"> 
        ▦ Dashboard 
    </a> 

    <a href="{{ url_for('medicines') }}">
    💊 Medicines
</a>
<a href="{{ url_for('sales') }}">
    🧾 Sales
</a>
    <a href="{{ url_for('expiring_soon') }}"> 
        🔔 Expiry Alerts 
    </a> 

    <a href="{{ url_for('expired') }}"> 
        📊 Reports 
    </a> 

</nav>
</header>
    <section class="hero">

        <div class="hero-text">

            <h1>Medicine Expiry Alert & Pharmacy Management System</h1>

            <p>
                Manage medicines, monitor stock, and get alerts
                before medicines expire.
            </p>

            <a href="{{ url_for('add') }}"><button>Get Started</button></a>

        </div>

    </section>


    <section class="features">

        <h2>Our Features</h2>

        <div class="feature-container">

            <div class="card">
                <h3>💊 Medicine Management</h3>
                <p>
                    Add and manage medicine information easily.
                </p>
            </div>

            <div class="card">
                <h3>🔔 Expiry Alerts</h3>
                <p>
                    Get alerts for expired and soon-to-expire medicines.
                </p>
            </div>

            <div class="card">
                <h3>📦 Stock Management</h3>
                <p>
                    Monitor medicine quantity and low-stock items.
                </p>
            </div>

            <div class="card">
                <h3>📊 Reports</h3>
                <p>
                    View pharmacy information through simple reports.
                </p>
            </div>

        </div>

    </section>

</body>
</html>
